# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.eggs
*.env
.env
venv/
ENV/
.envrc

# Flask
instance/
.webassets-cache

# Docker
*.log
docker-compose.override.yml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.db

# Migrations
migrations/

# Node
node_modules/

# Others
*.bak
*.swp
*.swo

